// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald:600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

// Variables
@import 'variables';
$blue-color :#0883ce;
$orange-color:#f8a557;

// Bootstrap
@import '~bootstrap/scss/bootstrap';

/*configs*/
a{
    color: $blue-color;
}
a:hover{
    color: darken($blue-color,5%);
    text-decoration: none;
}

html,
body {
    overflow: auto;
    padding: 0;
    margin: 0;
    width: 100%;
    font-weight: 400;
    color: #222;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
}
body {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    background: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.5;
}
.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.flex-space-b
{
    @extend .flex-row;
    justify-content: space-between;
}
.flex-row-center
{
    @extend .flex-row;
    justify-content: center;
}
#mh-overlay
{
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    top: 375px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999!important;
}
.master-hdr
{
    min-height: 120px;
    background-color: #fff;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.16);
    @extend .flex-row;
    z-index: 9999999!important;
    .welcome{
        font-size: 15px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.75px;
    }
    .p-btn{
        @extend .c-btn-001;
    }
    .h--wrapper
    {
        @extend .container;
        @extend .flex-space-b;
        .logo-container
        {
            font-size: 45px;
            font-weight: bold;
            line-height: .98;
            color: $blue-color;
        }

        .menus-container
        {
            @extend .flex-row;
            >div:not(:last-child){
                margin-right: 24px;
            }

            .menu-toggler{
                display: none;
            }
        }

        @include media-breakpoint-down(md)
        {
            .logo-container{
                font-size: 29px;
            }
            .menus-container{
                .menu-toggler{
                    display: block;
                }
                .menu-option{
                    display: none;
                }
            }

        }

    }
    .small-menu-container{
        width: 100%;
        text-align: center;
        margin-top: 30px;
        .wrapper{
            @extend .container;
            >div{
                margin-bottom: 35px;
            }
            .p-btn
            {
                width: 100%;
            }
        }
    }
    .small-menu-container.not-visible
    {
        display: none;
    }
    @include media-breakpoint-up(md)
    {
        .small-menu-container
        {
            display: none;
        }

    }
}
@include media-breakpoint-down(md)
{
    .master-hdr{
        flex-wrap: wrap;
        padding: 39px;
    }
}

#app-main
{
    min-height: 70vh;
}
.c-btn-001
{
    display: inline-block;
    padding: 11px 47px;
    border-radius: 5px;
    border: 1px solid $orange-color;
    color: $orange-color;
    line-height: 1.2;
    letter-spacing: 0.75px;
}
.c-btn-001.orange-bg{
    background-color: $orange-color;
    color: #fff;
}
.c-btn-001.orange-bg:hover{
    background-color: darken($orange-color, 3%);
}
.c-btn-001:not(.orange-bg):hover{
    background-color: darken(#ffffff, 1%);
}
.m-footer{
    background-color: #fff;
    padding-bottom: 26px;
    .f--wrapper
    {
        text-align: center;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
        .apps-container
        {
            z-index: 10;
            min-height: 195px;
            background-color: #e8edf3;
            @extend .flex-row;
            justify-content: center;
            .caption{
                font-size: 18px;
                color: #263238;
                font-weight: 500;
                margin-bottom: 26px;
            }
            .img-container{
                img{
                    height: 57.7px;
                    margin-bottom: 26px;
                }

            }
        }
        .credits-c
        {
            z-index: 5;
            min-height: 97px;
            @extend .flex-row;
            justify-content: center;
            .twitter{
                color: #55acee;
            }
            .linkedin{
                color:#0976b4;
            }
            a{
                font-size: 26px;
            }
            span{
                color: rgba(38, 50, 56, 0.53);
                font-size: 16px;
                line-height: 1.19;
                letter-spacing: 0.64px;
            }
        }
        @include media-breakpoint-down(md){
            .apps-container
            {
                padding: 35px 8px;
                .caption
                {
                    font-size: 15px;
                }
            }
        }
    }
}
.ap-bx-p
{
    .hiro{
        background-color: #fff;
        .wrapper{
            min-height: 527px;
            background-image: linear-gradient(to bottom, #00609b, #0883ce);
            border-radius: 0 0 200px 200px;
            position: relative;
            @extend .flex-row;
            align-items: flex-start;
            justify-content: center;
            padding: 90px 8px;
            text-align: center;
            margin-bottom: 300px;
            .main-title
            {
                color: #fff;
                font-size: 65px;
                font-weight: 300;
                letter-spacing: 3.25px;
                text-transform: uppercase;
            }
            .second-title{
                font-family: "Oswald","sans-serif";
                font-size: 100px;
                color: #fff;
                text-transform: uppercase;
                letter-spacing: 14.95px;
            }
            @include media-breakpoint-down(md)
            {
                .main-title
                {
                    font-size: 24px;
                }
                .second-title
                {
                    font-size: 45px;
                    letter-spacing: 6px;
                }
            }
            .box-container
            {
                position: absolute;
                min-height: 330px;
                bottom: -200px;
                width: 100%;
                max-width: 792px;
                box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                background-color: #fff;
                padding: 60px 100px;
                text-align: left;
                color: $blue-color;
                .b-title{
                    font-weight: bold;
                    font-size: 35px;
                    letter-spacing: 2.1px;
                    margin-bottom: 16px;
                }
                @include media-breakpoint-down(md)
                {
                    .b-title{
                        font-size: 25px;
                        line-height: 1.16;
                        letter-spacing: 1.5px;
                        text-align: center;
                    }

                }
                ul{
                    padding-left: 16px;
                    list-style-image: url("/images/utilities/trac-162.svg");
                    li{
                        margin-bottom: 36px;
                        span{
                            font-weight: bold;
                        }
                    }
                    @include media-breakpoint-down(md)
                    {
                        li{
                            font-size: 18px;
                            line-height: 1.33;
                            margin-bottom: 21px;
                        }
                    }
                }
            }
            @include media-breakpoint-down(md)
            {
                .main-title
                {
                    font-size: 24px;
                }
                .second-title
                {
                    font-size: 45px;
                    letter-spacing: 6px;
                }
                .box-container{
                    bottom: unset;
                    min-height: unset;
                    width: 80%;
                    top:70%;
                    padding: 30px 24px;
                }
            }
        }
        @include media-breakpoint-down(md)
        {
            .wrapper{
                min-height: 40vh;
            }
        }
    }
    .m-happen-c
    {
        padding: 30px 8px;
        .s-wrapper
        {
            @extend .container;
            .title-c{
                margin-bottom: 38px;
                .title{
                    text-align: center;
                    color: $blue-color;
                    font-size: 45px;
                    letter-spacing: 1.8px;
                    line-height: 1.2;
                    font-weight: bold;
                }
                @include media-breakpoint-down(md)
                {
                    .title{
                        font-size: 30px;
                    }
                }

            }
            .s-bdy{
                @extend .flex-space-b;
                align-items: flex-start;
                >div{
                    width: 30%;
                }
                .option-c{
                    text-align: center;
                    .img-container{
                        height: 289px;
                        margin-bottom: 26px;
                        overflow: hidden;
                        @extend .flex-row-center;
                        .img-wrapper{
                            img{
                                width: 100%;
                            }
                        }
                    }
                    .option-t{
                        font-size: 30px;
                        color: $orange-color;
                        line-height: .8;
                        font-weight: bold;
                        margin-bottom: 13px;
                    }
                    .option-caption{
                        font-size: 20px;
                        font-family: 'karla';
                        line-height: 1.2;
                        margin-bottom: 26px;
                    }
                    .option-more{
                        .not-visible{
                            width: 0!important;
                            height: 0!important;
                            padding: 0!important;
                            margin: 0!important;
                            overflow: hidden!important;
                        }
                        .toggler{
                            a{
                                color: $orange-color;
                                font-size: 30px;
                            }
                        }
                        .more-c{
                            text-align: left;
                            height: 319px;
                            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                            padding: 30px ;
                            position: relative;
                            ul{
                                li{
                                    margin-bottom: 25px;
                                    font-size: 15px;
                                }
                            }
                            .closer{
                                position: absolute;
                                top:0px;
                                transform: translate(-50%,-50%);
                                left: 50%;
                                color: $orange-color;
                                font-size: 30px;
                            }
                        }
                    }
                }
            }
            @include media-breakpoint-down(md)
            {
                .s-bdy{
                    flex-wrap: wrap;
                    >div{
                        width: 100%;
                    }
                }
            }
        }
    }
    .community-p{
        background-color: #e8edf3;
        min-height: 304px;
        @extend .flex-row-center;
        text-align: center;
        .wrapper{
            @extend .container;
            .caption-c{
                margin-bottom: 19px;
                .caption{
                    font-size: 45px;
                    line-height: 1.18;
                    letter-spacing: 2.7px;
                    color: $blue-color;
                    font-weight: bold;
                }
                @include media-breakpoint-down(md)
                {
                    .caption{
                        font-size: 30px;
                        line-height: 1.17;
                    }
                }
            }
            .actions-container{
                @extend .flex-row-center;
                >div:not(:last-child)
                {
                    margin-right: 24px;
                }
                .p-btn{
                    @extend .c-btn-001;
                    width: 282px;
                }
            }
            @include media-breakpoint-down(md)
            {
                .actions-container
                {
                    flex-wrap: wrap;
                    >div:not(:last-child)
                    {
                        margin-right: 0;

                    }
                    >div{
                        width: 100%;
                        margin-bottom: 35px;
                        .p-btn{
                            background-color: #fff;
                        }
                    }
                }
            }
        }

    }
    .contact-form
    {
        padding: 104px 0;
        @extend .flex-row-center;
        .wrapper{
            @extend .container;
            min-height: 696px;
            background-image: linear-gradient(to bottom, #00609b, #0883ce);
            object-fit: contain;
            @extend .flex-space-b;
            padding: 0 100px;
            color: #fff;
            >div{
                width: 45%;
            }
            @include media-breakpoint-down(md)
            {
                >div{
                    width: 100%;
                    margin-bottom: 24px;
                }
            }
            .caption-container
            {
                .c-title{
                    font-size: 45px;
                    font-weight: bold;
                    line-height: 1.18;
                    letter-spacing: 2.7px;
                    margin-bottom: 42px;
                }
                @include media-breakpoint-down(md)
                {
                    .c-title{
                        font-size: 35px;
                        letter-spacing: 2.1px;
                    }
                }
                ul{
                    padding-left: 20px;
                    margin-left: 0;
                    li{
                        font-size: 15px;
                        line-height: 1.6;
                        font-weight: normal;
                        margin-bottom: 34px;
                    }
                    @include media-breakpoint-down(md)
                    {
                        li{
                            margin-bottom: 24px;
                        }
                    }
                }
            }
            .form-container{
                position: relative;
                min-height: 696px;
                .form-wrapper{
                    position: absolute;
                    background-color: #fff;
                    color: $blue-color;
                    width: 100%;
                    top: -25px;
                    bottom: -25px;
                    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
                    padding: 40px;
                    >div{
                        margin-bottom: 20px;
                    }
                    label{
                        color: $blue-color;
                        font-size: 16px;
                        font-weight: 500;
                        margin-bottom: 9px;
                    }
                    input,textarea{
                        display: block;
                        height: 60px;
                        width: 100%;
                        border: solid 1px rgba(112, 112, 112, 0.25);
                    }
                    textarea{
                        padding: 15px 20px;
                        min-height: 105px;
                        resize: none;
                    }
                    textarea::placeholder{
                        color: rgba(38, 50, 56, 0.5);
                        font-size: 16px;
                        font-style: italic;
                    }
                    .p-btn{
                        @extend .c-btn-001;
                    }
                }
            }
        }
        @include media-breakpoint-down(md)
        {
            .wrapper{
                padding: 57px 32px;
                flex-wrap: wrap;
            }
        }

    }

}
.required:after{
    content: "*";
    display: inline-block;
    margin-left: 2px;
}
